@import "./var";

.slider-container {
  position: relative;
  width: 130px;
  height: 24px;
}

.slider {
  position: absolute;
  top: 8px;
  left: -2px;
  -webkit-appearance: none;
  width: 130px;
  height: 3px;
  border-radius: 1000px;
  background-color: $main;
  border-radius: 40px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: $secondary;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: $secondary;
  cursor: pointer;
}

.slider-label {
  position: relative;
  width: 24px;
  height: 24px;
  bottom: 30px;
  text-align: center;
  font-size: 0.9em;
  line-height: 22px;
  margin-left: -9px;
  color: $main;
  background-color: white;
  border-radius: 4px;
  z-index: 999;
  border: 1px solid #ff9fc0;
}
.label-pointer {
  width: 6px;
  height: 6px;
  position: absolute;
  bottom: -3px;
  left: 9px;
  z-index: 998;
  transform: rotate(45deg);
  background-color: white;
  border-right: 1px solid $main;
  border-bottom: 1px solid $main;
}
