@import "./var";

.wrapper {
  width: 100%;
  margin: 0 auto;
  height: 1000px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.grid {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.scroll-container {
  height: calc(100vh - 108px);
  overflow-x: hidden;
}
