@import "./var";

.selection {
  position: absolute;
  box-sizing: border-box;
  background: linear-gradient(315deg, $secondary, transparent);
  border: 1px solid $secondary;
  opacity: 0.5;
  border-radius: 2px;
  transition: 100ms opacity ease-in-out;
  z-index: 999;
}
