.selection {
  position: absolute;
  box-sizing: border-box;
  background: linear-gradient(315deg, #f857b5, transparent);
  border: 1px solid #f857b5;
  opacity: 0.2;
  border-radius: 2px;
  transition: 100ms opacity ease-in-out;
}
