@import "./var";

.setting-label {
  display: inline-block;
  font-size: 0.9em;
  color: $lgrey;
  height: 100%;
  padding: 0 15px;
  // border: 1px dashed red;
  overflow: hidden;
}

.label-text {
  width: 100%;
  height: 20px;
  // border: 1px solid blue;
  line-height: 30px;
  padding-top: 4px;
}
.label-option {
  height: auto;
  width: 100%;
  // border: 1px dashed green;
  margin-top: 12px;
}
